@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
      
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideDiagonal {
    0% {
      transform: translateX(-100%) translateY(-100%) rotate(45deg);
    }
    100% {
      transform: translateX(100%) translateY(100%) rotate(45deg);
    }
}

@keyframes grow {
    0% {
      width: 0;
    }
    100% {
      width: 200%;
    }
  }


  body{
    overflow-x: hidden;
  }

.logo{
    position: absolute;

    width: 200px;
    top: -15px;
    left: 20px;

    transform: rotate(-15deg);

}

.page-top{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    background-color: #2D3250 !important;
    height: 100px;
}


.page-title{
    color: white;
    font-family: 'GT Haptik Medium Rotalic',sans-serif;
    font-weight: bold;
    letter-spacing: 6px;

    text-align: center;
    padding-top: 30px;
}

.page-title > span {
    color: #F6B17A;
}


.letter-p{
    display: inline-block;
    transform: rotate(10deg);
}
.letter-h{
    display: inline-block;
    transform: rotate(-10deg);
}
.letter-i{
    display: inline-block;
    transform: rotate(10deg);
}
.letter-s{
    display: inline-block;
    transform: rotate(-10deg);
}

  .navbar{
    display : flex;
    justify-content: space-evenly;

    animation: fadeIn 1s ease-in-out;

    background-color: #424769;
    height: 50px;
  }

  .navbar > button {
    background-color: #ec9751;
    color: white;

    border: none;
    border-radius: 5px;

    padding: 2px 6px;
    
    font-weight: bold;

  }

  .header-desc {
    text-align: center;
    animation: slideIn 2.5s ease-in-out;

    padding-left: 10px;
    padding-top: 50px;
    margin-bottom: 60px;
  }
  
  .lead{
    margin-bottom: 50px;
  }

  .diag-div-a{
    display: flex;
    justify-content: space-evenly;

    background-color: white;
    margin-top: 40%;
    margin-bottom: 100px;

    top: 0px;

    height: 500px;
    width: 100%;
    visibility: hidden;

  }

  .diag-div-a-scrolled{
    visibility:visible;

    animation: fadeIn .75s ease-in-out;
  }

 
  .diag-div-complement{
    top: 150px;

    background-color: #2D3250;

    height: 100px;
    width: 100%;
   
    visibility: hidden;
    
  }

  .diag-div-comp-reveal{
    visibility: visible;
    animation: slideIn 1.5s ease-in-out;
  }


 
.notecards-header{
    font-weight: 500;
    text-align: center;
    animation: slideIn 2.5s ease-in-out;

}

.notecards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    border-radius: 5px solid black;

    font-weight: bold;
    font-size: 25px;
}

.notecards > div{
    background-color: #2D3250;
    color: white;

    height: 200px;
    width: 200px;

    margin-bottom: 40px;

    text-align: center;
    vertical-align: middle;
    line-height: 200px;

    border-radius: 20px;
}

.notecard1{
    animation: slideIn 2s ease-in-out;

}
.notecard2{
    vertical-align: middle;
    animation: slideIn 1.5s ease-in-out;

}

.notecard2 > p{
    
    white-space:pre-wrap;
    height: 20px;
    margin-bottom: 0;

}

.notecard3{
    animation: slideIn 1s ease-in-out;

}

.footer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    z-index: 2;
}

.box-one{
    display: flex;

    left: 100px;
    top: 950px;
    background-color: #F6B17A;

    width: 400px;
    height: 500px;
    margin-bottom: 20px;
    margin-left: 40px;

    border-radius: 20px;
}

.vulnerabilities-list{
    display: inline-block;

    vertical-align: top;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 700px;
    

    color: white;
    font-size: 35px;
    font-weight: bold;
}

.login-box{
    display: block;
    text-align: center;

    background-color: #7077A1;


    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 0px;

    border-radius: 20px;
}
.sign-in-text{
    display: inline-block;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    color: white;
    font-size: 30px;
    font-weight: bold;
}

.target-img{
    display: block;

    background-color: #424769;

    right: 100px;

    width: 500px;
    height: 500px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top: 0px;

    border-radius: 20px;
}

#post-image{
    display: block;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#post-button{
    background-color: #ec9751;
    color: white;

    border: none;
    border-radius: 5px;

    padding: 8px 16px;
    
    font-weight: bold;
}

.img-btns{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.img-btns > button{
    border: 2px solid #ec9751;
    background-color: transparent;

    color: #ec9751;
    font-weight: bold;
}

.social-icon{
    display: flex;
    justify-content: space-evenly;

    margin-top: 40px;
}

.social-icon > img{
    width: 45px;
    height: 45px;
}