@keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  body{
    overflow-x: hidden;
  }

.logo{
    position: absolute;

    width: 200px;
    top: -15px;
    left: 20px;

    transform: rotate(-15deg);

}

.page-top{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    background-color: #2D3250 !important;
    height: 100px;
}


.page-title{
    color: white;
    font-family: 'GT Haptik Medium Rotalic',sans-serif;
    font-weight: bold;
    letter-spacing: 6px;

    text-align: center;
    padding-top: 30px;
}

.page-title > span {
    color: #F6B17A;
}


.letter-p{
    display: inline-block;
    transform: rotate(10deg);
}
.letter-h{
    display: inline-block;
    transform: rotate(-10deg);
}
.letter-i{
    display: inline-block;
    transform: rotate(10deg);
}
.letter-s{
    display: inline-block;
    transform: rotate(-10deg);
}



  .navbar{
    display : flex;
    justify-content: space-evenly;

    animation: fadeIn 1s ease-in-out;

    background-color: #424769;
    height: 50px;
  }

  .navbar > button {
    background-color: #ec9751;
    color: white;

    border: none;
    border-radius: 5px;

    padding: 2px 6px;
    
    font-weight: bold;

  }

  .jumbotron {
    text-align: center;
    animation: slideIn 3s ease-in-out;

    padding-left: 10px;
    padding-top: 50px;
  }

  .diag-div-a{
    position: absolute;

    background-color: rgb(246, 177, 122);
    margin-top: 80%;

    top: -125px;
    left: -100px;

    height: 400px;
    width: 200%;

    transform: skew(20deg);
    transform: rotate(15deg);
    z-index: -1;
    animation: slideIn 3s ease-in-out;

  }

  .diag-div-a-scrolled{
    position: absolute;

    background-color: rgb(246, 177, 122);
    margin-top: 80%;

    top: -125px;
    left: -100px;

    height: 400px;
    width: 200%;

    transform: skew(20deg);
    transform: rotate(15deg);
    
    z-index: -1;
    animation: slideIn 3s ease-in-out;

  }